.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.skip {
    color: rgb(0, 195, 255);
    text-decoration: none;
    font: 20px 'Microsoft YaHei';
}

.info {
    color: orangered;
    font: 19px '';
    text-decoration: none;
}

.link {
    color: rgb(156, 0, 196);
}

.big {
    text-decoration: none;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: rgb(0, 174, 236);
}

.block {
    display: block;
    width: 100px;
    height: 50px;
    background-color: white;
}

.block>div>p {
    width: 264px;
    text-indent: 100px;
}

.tabdiv {
    text-indent: 2em;
}

.top {
    background-image: url();
    width: 1400px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: rgb(1, 104, 237);
    color: white;
}